#details {
    height: calc(100vh - 80px - 15px - 5px - 5px);
    /* background-color: black; */
    overflow: auto;
}

.info-box {
    margin-bottom: 10px;
}

.divided {
    display: flex;
    justify-content: space-between;
}

.mtt-info-style {
    color: #2E4765;
}

.mtt-data-style {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2DAAB8;
    color: white;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #2DAAB8;
    font-size: 16px;
    font-weight: 400;
}

.mtt-data-style-table {
    display: flex;
    justify-content: flex-start;
    border-collapse: initial;
    background-color: #2DAAB8;
    color: white;
    border: 1px solid #2DAAB8;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px 0 0 50px;
}

.union-table-conf {
    border-collapse:initial;
    border-spacing: 0 2px;
}

.mtt-data-style-end {
    background-color: #2DAAB8;
    color: white;
    width: 60px;
    max-width: 60px;
    padding: 10px;
    border: 1px solid #2DAAB8;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0 50px 50px 0;
}

.inverse {
    background-color: white;
    color: #2DAAB8;
    border: 1px solid #2DAAB8;
}

.overlay {
    background-color: #ff6961;
    border: 1px solid #ff6961;
}

.data-size {
    width: 48%;
}

.start-size {
    width: 25%;
}

.late-size {
    width: 25%;
}

.buyin-size {
    width: 39%;
}

.gtd-size {
    width: 60%;
}

.format-union-name {
    float: left;
}

.format-target-porcentage {
    float: right;
}