@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #EFF1F7;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 3px;               /* width of the entire scrollbar */
}
  
*::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #2daab840;    /* color of the scroll thumb */
    border-radius: 50px;       /* roundness of the scroll thumb */
}

.hide {
    display: none!important;
}

.tournament-title {
    display: flex;
    align-items: center;
    color: #2DAAB8;
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 36px;
}

.card {
    position: relative;
    background-color: white;
    width: 806px;
    height: calc(100vh - 10px);
    min-height: calc(100vh - 10px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    /* overflow: auto; */
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2DAAB8;
    color: white;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
}

.button-area {
    max-width: 100%;
    margin: 10px 0;
}

.button-style {
    background-color: #2DAAB8;
    color: white;
    height: 36px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.button-status {
    display: none;
}

.button-style:hover,
.close:hover {
    background-color: #38c4d4;
}

#general {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.header-config {
    background: #2DAAB8;
    border: 1px solid #2DAAB8;
    margin-left: -1px;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}

.rank-line-config {
    color: #676B84;
    border: 1px solid #2DAAB8;
    margin-left: -1px;
    margin-top: -1px;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 400;
}

.myclub {
    background-color: #e9f8ff;
    cursor: pointer;
}

.rank {
    display: flex;
    overflow: hidden;
}

.ranking-loop {
    max-height: calc(100vh - 30px - 10px - 22px - 30px - 88px);
    overflow: auto;
}

.left-side {
    width: 570px;
}

.right-side {
    max-width: 250px;
    padding: 0 0 0 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.position {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    max-width: 20px;
    /* border-radius: 5px 0 0 5px; */
    overflow: hidden;
    margin-left: 1px;
}

.client {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 192px;
    max-width: 192px;
    min-width: 132px;
    overflow: hidden;
}

.client-tournament-infos {
    display: flex;
    margin-top: 5px;
}

.bra-info-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2DAAB8;
    color: white;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    font-weight: 500;
}

.bra-values {
    display: flex;
    align-items: self-end;
    margin: 0 3px;
    font-size: 11px;
}

.target {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    text-align: center;
    overflow: hidden;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    text-align: center;
    overflow: hidden;
}

.balance {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    text-align: center;
    overflow: hidden;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    text-align: center;
    /* border-radius: 0 5px 5px 0; */
    overflow: hidden;
}

.balance-negative {
    background-color: rgb(255, 47, 47);
    color: rgb(255, 255, 255);
}

.balance-positive {
    background-color: rgb(8, 162, 8);
    color: rgb(255, 255, 255);
}

.logo-pb {
    max-width: 180px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-mtt-infos {
    margin-top: 20px;
    width: 100%;
}

.card-mtt-title {
    color: #676B84;
    text-align: left;
    font-size: 14px;
}

.card-mtt-data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px 1px 10px 0;
    padding: 10px;
    background-color: #2DAAB8;
    box-sizing: border-box;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #2DAAB8;
}

.color-inverse {
    color: #2DAAB8;
    background-color: white;
    border: 1px solid #2DAAB8;
}

.mtt-date {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.mtt-date-header {
    width: 50%;
}

.dimension-buyin {
    width: 40%;
}

.dimension-gtd {
    width: 60%;
}

.overlay-mtt {
    background-color: rgb(255, 0, 0);
    border: 1px solid red;
}

.rank-total {
    width: calc(20px + 192px + 21px);
}

.format-rank-total {
    font-weight: 500;
}

.total-bar-fixed {
    position: sticky;
    bottom: 5px;
}