@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.bg {
    max-width: 100%;
    background-color: #EFF1F7;
    padding: 20px 0;
    text-align: center;
}

.card {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 220px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 10px black;
}

.type {
    font-family: "Poppins", sans-serif;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    /* font-style: italic; */
    font-weight: 500;
}

.MEc {
    /* border: 1px solid #FFA239; */
}

.MEt {
    /* background-color: #FFA239; */
    /* color: white; */
}

.SAc {
    border: 1px solid #ACACAC;
}

.SAt {
    /* background-color: #ACACAC; */
    /* color: white; */
}

.PAc {
    /* border: 1px solid #2272ea; */
}

.PAt {
    /* background-color: #2272ea; */
    /* color: white; */
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    font-weight: 500;
    font-size: 14px;
}

.eventName {
    width: 100%;
    font-size: 16px;
    font-weight: 800;
    margin: 10px 0;
    text-align: left;
}

.date-union {
    font-family: "poppins", sans-serif;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 400;
}

.union {
    float: right;
    padding: 5px;
    border-radius: 50px;
}

.date {
    float: left;
    padding: 5px;
    border-radius: 50px;
}

.me-colors {
    color: #FFA239;
    border: 1px solid #FFA239;
}

.sat-colors {
    color: ACACAC;
    border: 1px solid #ACACAC;
}

.par-colors {
    color: #2272ea;
    border: 1px solid #2272ea;
}

.buy-in {
    color: white;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    border-radius: 50px;
}

.bi-gtd-me {
    background-color: #FFA239;
}

.bi-gtd-sat {
    background-color: #ACACAC;
}

.bi-gtd-par {
    background-color: #2272ea;
}

.gtd {
    color: white;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    border-radius: 50px;
}

.card-footer {
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}