@media screen and (max-width: 1030px) {
    *::-webkit-scrollbar {
        width: 0px; /* width of the entire scrollbar */
    }

    .card {
        height: 100%;
    }

    .container {
        display: flex;
    }

    .middle {
        display: none;
    }

    .right-side {
        display: none;
    }

    .left-side {
        width: 100%;
        max-width: 100%;
    }
}

@media  screen and (max-width: 565px) {
    table {
        font-size: 10px;
    }

    .bra-box {
        font-size: 9px;
    }

    .position {
        max-width: 30px;
    }

    .bra-content {
        width: 8px;
        height: 8px;
        padding: 1px;
        font-size: 8px;
        font-weight: 300;
    }
}

@media screen and (max-width: 374px) {
    table {
        font-size: 9px;
    }

    .bra-box {
        font-size: 8px;
    }
}