table {
    border-collapse:collapse;
    border-spacing: 0;
    font-size: 14px;
}

th {
    background-color: #2DAAB8;
    color: white;
    padding: 10px 0;
    font-weight: 500;
    border: 1px solid rgb(228, 227, 227);
    max-width: 100%;
}

td {
    color: #2E4765;
    padding: 15px 0;
    text-align: center;
    border: 1px solid rgb(228, 227, 227);
    max-width: 100%;
}

thead {
    position: sticky;
    top: -2px;
}

tfoot {
    position: sticky;
    bottom: -2px;
    /* border: 1px solid #2DAAB8; */
}

.client {
    text-align: start;
    padding: 2px 3px;
    overflow: hidden;
}

.client-name {
    margin-bottom: 8px;
    /* font-weight: 500; */
}

.balance-up {
    background-color: #68bc7f;
    color: white;
}

.balance-down {
    background-color: #ff6961;
    color: white;
}

.bra-infos {
    display: flex;
}

.bra-box {
    display: flex;
    font-size: 10px;
    margin-right: 5px;
    align-items: baseline;
}

.bra-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2DAAB8;
    width: 9px;
    height: 9px;
    padding: 2px;
    font-size: 8px;
    border-radius: 50px;
    font-weight: 600;
}

.divided-myclub-size {
    width: calc((100% / 3) - 1%);
}

.container-table-myclub {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: calc(100vh - 5px - 76px - 30px - 306.7px); 
    overflow: auto;
}

.myclub {
    background-color: rgb(204, 247, 255);
    font-weight: 600;
}