table {
    border-collapse:collapse;
    border-spacing: 0;
    font-size: 14px;
}

th {
    background-color: #2DAAB8;
    color: white;
    padding: 10px 0;
    font-weight: 500;
    border: 1px solid #2DAAB8;
    max-width: 100%;
}

td {
    color: #2E4765;
    text-align: center;
    border: 1px solid #2DAAB8;
    max-width: 100%;
}

thead {
    position: sticky;
    top: -2px;
}

tfoot {
    position: sticky;
    bottom: -2px;
    /* border: 1px solid #2DAAB8; */
}

.client {
    text-align: start;
    padding: 2px 3px;
    overflow: hidden;
}

.client-name {
    margin-bottom: 5px;
}

.balance-up {
    background-color: rgb(18, 168, 18);
    color: white;
}

.balance-down {
    background-color: rgb(223, 17, 17);
    color: white;
}

.bra-infos {
    display: flex;
}

.bra-box {
    display: flex;
    font-size: 12px;
    margin-right: 5px;
    align-items: baseline;
}

.bra-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2DAAB8;
    width: 10px;
    height: 10px;
    padding: 3px;
    font-size: 10px;
    border-radius: 50px;
    font-weight: 600;
}